/* Global Styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "roboto-thin", sans-serif;
  font-size: 20px;
}

h1 {
  font-family: "roboto-regular", sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Navigation Bar */
nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  padding: 15px;
  border: 3px solid blue;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}
nav ul li a:hover {
  background-color: #fff;
}

/* Sections & Layout */
section {
  display: block;
  /* width: auto; */
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
}

/* About Section */
.about-section {
  text-align: center;
}
.about-content {
  margin-bottom: 20px;
}
.about-me-p {
  display: flex;

}
/* Services & Skills Section */
.services-skills-section {
  display: block;
  padding: 20px;
}
/* Projects Section */
.projects-section {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-container {
  justify-content: center;
  gap: 30px;
}
.project {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
}
.project-img {
  width: 600px;
  height: auto;
}
.project-link {
  color: black;
  text-decoration: none;
}
/* Contact Section */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-section {
  display: block;
  padding: 20px;
  gap: 30px;
  justify-content: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: auto;
  padding: 10px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 14px;
  word-wrap: break-word;
  justify-content: space-around;
  max-height: 318px;
  overflow-y: auto;
  border: 1px solid #ccc;
  position: relative;
}

/* Experience Buttons */
.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.experience-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #000;
  background-color: #FFF;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  width: 85px;
  height: 85px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s ease;
  word-wrap: break-word;
}
.experience-button:hover {
  background-color: #ddd;
}
.what-i-can-do {
  display: flex;
  justify-content: flex-start;
}

/* Font Classes */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

/* Nav Menu Animation */
.borderYtoX {
  font-family: Roboto;
  margin: 0 auto;
	padding: 3em 1em;
	text-align: center;
}
.borderYtoX a {
    color: #000;
    text-decoration: none;
    font: 20px Roboto;
    margin: 0px 10px;
    padding: 10px 15px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.borderYtoX a:before, .borderYtoX a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 3px;
    content: '';
    background: blue;
    transition: all 0.3s;
}
.borderYtoX a:before {
    left: 0px;
    top: 0px;
}
.borderYtoX a:after {
    right: 0px;
    bottom: 0px;
}
.borderYtoX a:hover:before, .borderYtoX a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* Responsiveness */
@media all and (max-width: 500px) {
  /* small devices */
  .grid {
      grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  /* medium devices */
  .grid {
      grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  /* shared code for above media queries */
  .grid {
      grid-gap: 10px;
  }
  .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
  }
  h1 {
      font-size: var(--font-size-24px);
  }
  .mobile-menu {
      display: block;
  }
  header nav {
      display: none;
  }
}